<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
    <link rel="stylesheet" href="../static/css/login.css" />
    <link rel="icon" type="image/x-icon" href="../static/images/icon-login.png" />
  </head>
  <body>
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <div class="titulo">
        <h1>Faça o seu login</h1>
        <div class="barra-horizontal"></div>
      </div>

      {% if erro %}
      <p class="erro-login">{{ erro }}</p>
      {% endif %}

      <div class="campo-input">
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div class="campo-input">
        <label for="password">Senha</label>
        <input type="password" id="password" name="password" required />
      </div>
      <div class="lembrar-me">
        <input type="checkbox" id="lembrar" name="lembrar" />
        <label for="lembrar">Lembrar-me</label>
      </div>
      <button id="button" type="submit">Entrar</button>
    </form>
  </body>
</html>